<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--CONECTAR A LA BASE DE DATOS-->

	<connectionStrings>
		<!--string que contiene la cadena conexion-->
		<add name="conectar" connectionString="Server=DESKTOP-AOV5ERD;Integrated Security=yes;Database=MANTENIMIENTO_PRODUCTOS"/>
	</connectionStrings>
</configuration>